$light-color:#f4f4f4;
$dark-color:#333333;

$body-bg: #dfdbdb;


$primary-color: #011F4B;
$secondary-color: #03396C;

$third-color: #005B96;

$blue4: #6497B1;
$blue5: #B3CDE0;

$blue-light: lighten(#011F4B, 40%);
$blue-dark: darken(#011F4B, 40%);


$dark:#000000;
$light:#efefef;
$white:#ffffff;